.card {
  width: 413px;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  border-radius: 2%;
  display: block;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  margin-top: 12px;
  font-weight: 500;
  color: #212121;
  font-size: 20px;
  max-width: 353px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 24px;
}

.card__like-btn {
  background-image: url(../images/likebutton.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 318px;
    width: 288px;
  }
  .card {
    width: 288px;
  }
  .card__title {
    font-size: 16px;
    max-width: 235px;
  }
}
